@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #337f91;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

.navbar {
    width: 100%;
    height: 50px;
    background-color: #2c6d79;
    position: sticky;
    top: 0;
}
.navbar-container {
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
    font-family: "Sen", sans-serif;
}
  
.logo-container {
    flex: 1;
}
  
.logo {
    font-size: 30px;
    color: #4dbf00;
    font-family: "Poppins";
}
.user{
    font-size: 16px;
    color: #2abd0c;
    font-family: sans-serif;
}

header {
    background-color: #2c6d79;
    padding: 1rem;
}
.search-container{
  
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.search {
    background-color: transparent;
    border: 2px solid #22254b;
    border-radius: 50px;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}
.search::placeholder {
    color: #151a1d;
}

.search:focus {
    background-color: #2c6d79;
    outline: none;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.movie {
    background-color: #075361fb;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    margin: 1rem;
    width: 300px;
}

.movie img {
    width: 100%;
}

.movie-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin: 0;
}

.movie-info span {
    background-color: #07323a;
    border-radius: 3px;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
}
.movie-info span.green {
    color: greenyellow;
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: red;
}

.overview {
    background-color: #fff;
    padding: 2rem;
    position: absolute;
    max-height: 100%;
    overflow: auto;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.overview h3 {
    margin-top: 0;
}

.movie:hover .overview {
    transform: translateY(0);
}
